/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import "font-awesome";

body {
    font-family: 'Courier New', 'Lucida Console', sans-serif;
    h3 {
        font-weight: bold;
    }

    .card-body {
        font-size: 14px;
    }

    .courier {
        font-family: 'Courier New', 'Lucida Console', sans-serif;
        font-weight: bold;
    }

    .logo {
        margin-left: -9%;
    }

    .campaign-name {
        font-family: 'Courier', cursive;
        color: #c0c0c0;
    }

    .overlimit:focus{
        outline: none !important;
        border: 1px solid rgb(167, 3, 3);
        box-shadow: 1px 1px 12px rgb(240, 25, 25);
    }

    .emptyfield {
        border: 1px solid rgb(167, 3, 3);
    }
}

#logout {
    float: right;
    a {
        color:#fff;
        text-decoration: none;
    }
}
#logout:hover {
    color: #fff;
    font-weight: bold;
    padding: 5px;
}

.articles {
    border: 1px solid #d3d3d3;
    padding: 10px;
    .article_content {
        .title {
            font-weight: bold;
        }
        padding-top: 5px;
        padding-left: 5%;
    }

    .article_datetime {
        color: rgb(143, 143, 143);
        float: right;
    }

    .article_actions{
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .article_actions a:hover {
        text-decoration: none;
        color: #c0c0c0;
    }
}

.article_add {
    border: 1px solid #d3d3d3;
    padding: 8px;
}

.comment-sec {
    .comment_datetime {
        color: rgb(143, 143, 143);
        float: right;
    }

    .comment_actions a:hover {
        text-decoration: none;
        color: #c0c0c0;
    }
}

.pagination {
    font-size: 15px;
    padding: 5px;
    text-align: center;
}

.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
}

.pagination a:hover {
    background: #202020 none repeat scroll 0 0;
    text-shadow: 1px 1px 1px #171717;
    color: #fff;
    text-decoration: none;
}

.pagination a:active {
    text-shadow: none;
}

.pagination .current {
    background: #202020 none repeat scroll 0 0;
    color: #fff;
    text-shadow: 1px 1px 1px #171717;
}

.pagination .disabled {
    color: #C0C0C0;
}

.page_info {
    background-color: #171a33;
    font-size: 15px;
    color: #C0C0C0;
    padding: 0.04em;
    text-align: center;
}